In [4]:
import sqlalchemy
import pandas as pd

In [5]:
from sqlalchemy.engine import URL
connection_url = URL.create(
    "mssql+pyodbc",
    username="rudolfs",
    password="aaa",
    host="localhost",
    port=1433,
    database="balta_bronze",
    query={
        "driver": "ODBC Driver 17 for SQL Server",
        "TrustServerCertificate": "yes",
    },
)
# engine = sqlalchemy.create_engine('mssql://localhost/balta_bronze?trusted_connection=yes')
connection_url
engine = sqlalchemy.create_engine(connection_url)

In [13]:
# 3.b.1)Python skripts kurš veic unikalitātes identifikāciju polišu piedāvājumu datos (offers). Izveidot šādas dimensijas, pēc rezultāta ieguves izanalizēt vai izveidotais risinājums ir efektīvs:
# UniqeDay – Pēdējais unikālais piedāvājums dienas ietvaros (24h)
# Based on LLM response. Prompt: I have a panadas dataframe with datetime column 'offer_datetime' with multiple records per day. I want to get newest row per day in the dataframe.
with engine.connect() as connection:
    df = pd.read_sql(f"SELECT *  FROM balta_bronze.dbo.offers",connection)
    df["offer_datetime"] = pd.to_datetime(df["offer_datetime"])
    newest_per_day = (
        df.loc[
            df.groupby(df_test["offer_datetime"].dt.date)["offer_datetime"]
                   .idxmax()
        ]
        .reset_index(drop=True)
    )
    print("\nNewest Row Per Day")
    print(newest_per_day)

Newest Row Per Day
             offer_id  customer_id product_code product_variant  \
0  O-2024-0007123-D01       100295          PET             Dog
1      O-2024-0004621       100184          PET             Dog
2      O-2024-0007571       100678         AUTO           CASCO
3      O-2024-0006170       100696       TRAVEL           World
4      O-2024-0000404       100641         AUTO           CASCO

           offer_datetime  premium_offered sales_source   sum_insured  \
0 2024-01-01 23:27:13.850        85.900002        Phone  24444.630859
1 2024-01-02 06:42:56.000       166.429993        Agent   6573.450195
2 2024-01-02 06:40:30.000       231.699997        Phone  47487.179688
3 2024-01-02 00:27:17.000        71.040001        Phone  31640.000000
4 2024-01-02 03:27:11.000       101.120003          Web   9678.290039

                      coverage_hash
0  74317382b13065bda40e70f4f1e12c8a
1  dd791fca8a25167ca9d77988c2a91db1
2  001563e88f774d9b9547e17c150c30fb
3  eed71837f14fa3172dbea8944f6c1ba5
4  3810f95efb32c817acb71fd53bce4890

In [15]:
# 3.b.2)Python skripts kurš veic unikalitātes identifikāciju polišu piedāvājumu datos (offers). Izveidot šādas dimensijas, pēc rezultāta ieguves izanalizēt vai izveidotais risinājums ir efektīvs:
# UniqueWeek - Pēdējais unikālais piedāvājums nedēļas ietvaros (7dienas)
# Based on LLM response. Continued prompt :How would one apply .isocalendar().week to the date before grouping to get the newest record in a week?
import datetime
with engine.connect() as connection:
    df = pd.read_sql(f"SELECT *  FROM balta_bronze.dbo.offers",connection)
    df["offer_datetime"] = pd.to_datetime(df["offer_datetime"])
    date_df = df["offer_datetime"].dt.isocalendar()
    df["iso_year"], df["iso_week"] = date_df["year"], date_df["week"]
    
    newest_per_week = (
        df.loc[
            df.groupby(["iso_year", "iso_week"])["offer_datetime"]
                   .idxmax()
        ]
        .reset_index(drop=True)
    )
    print("\nNewest Row Per week")
    print(newest_per_week)

Newest Row Per week
              offer_id  customer_id product_code product_variant  \
0       O-2024-0003525       100339    LIABILITY        Personal
1       O-2024-0006053       100170         AUTO           CASCO
2   O-2024-0001151-D01       100879         AUTO            MTPL
3   O-2024-0004922-D01       100855    LIABILITY        Personal
4       O-2024-0000498       100869         AUTO            MTPL
..                 ...          ...          ...             ...
77  O-2025-0001620-D01       100739         AUTO            MTPL
78  O-2025-0006917-D01       100608         HOME        HomePlus
79  O-2025-0007445-D01       100232       TRAVEL          Europe
80  O-2025-0000249-D01       100585         AUTO            MTPL
81  O-2025-0004561-D01       100750         AUTO            MTPL

            offer_datetime  premium_offered sales_source   sum_insured  \
0  2024-01-07 23:25:42.000       119.010002        Agent   8627.280273
1  2024-01-14 23:46:05.000       101.680000        Agent  44584.800781
2  2024-01-21 21:51:55.697       235.690002        Phone  23688.210938
3  2024-01-28 23:13:41.987        90.610001          Web  13134.440430
4  2024-02-04 22:38:47.000       322.329987          Web  17296.500000
..                     ...              ...          ...           ...
77 2025-06-29 23:45:03.040        99.370003          Web  27439.539062
78 2025-07-05 08:52:58.443       272.369995          Web  14118.780273
79 2025-07-09 09:33:45.967        65.019997          Web  26518.160156
80 2025-07-19 05:56:19.417       186.979996          Web  11105.080078
81 2025-07-21 21:32:18.570       200.279999        Agent  23602.820312

                       coverage_hash  iso_year  iso_week
0   4cb316e5dd508c7ebc7e18d0ed6428c0      2024         1
1   a560042740db65a7249660d5612ed53e      2024         2
2   22c4dc3a689a3b80f80dacd2fbb163ae      2024         3
3   c433c40c98e3f5eaf18da26f5e2a71df      2024         4
4   bd6d181474036f3db1e801380a31983e      2024         5
..                               ...       ...       ...
77  617bf7c4f22c1deed0b3f9893b4be355      2025        26
78  1f8f34a6a145941f5b68b6131a8e288b      2025        27
79  d15324223647dc109a37b4a9ac7346c1      2025        28
80  161687618b466e50172d127d70e27e7b      2025        29
81  f40def480a3f144c4b1e626decc40dd1      2025        30

[82 rows x 11 columns]

In [18]:
# UniqueMonth- Pēdējais unikālais piedāvājums mēneša ietvaros(30dienas);
# Based on LLM response. Continued prompt 


import datetime
with engine.connect() as connection:
    df = pd.read_sql(f"SELECT *  FROM balta_bronze.dbo.offers",connection)
    df["offer_datetime"] = pd.to_datetime(df["offer_datetime"])
    date_df = df["offer_datetime"].dt.isocalendar()
    df["ym"] = df["offer_datetime"].dt.to_period("M")    
    print(df.head())
    newest_per_month = (
        df.loc[
            df.groupby(["ym"])["offer_datetime"]
                   .idxmax()
        ]
        .reset_index(drop=True)
    )
    print("\nNewest Row Per month")
    print(newest_per_month)

         offer_id  customer_id product_code product_variant  \
0  O-2024-0006081       100071       TRAVEL          Europe
1  O-2024-0007701       100870       TRAVEL           World
2  O-2024-0002102       100159       TRAVEL          Europe
3  O-2024-0003238       100463       TRAVEL           World
4  O-2024-0006953       100591          PET             Cat

       offer_datetime  premium_offered sales_source   sum_insured  \
0 2024-01-01 01:36:31        39.790001        Agent  34246.839844
1 2024-01-01 02:45:03        53.150002          Web  40268.031250
2 2024-01-01 06:00:28        27.180000        Agent  15595.240234
3 2024-01-01 06:02:03        57.240002          Web  36560.820312
4 2024-01-01 07:54:43        70.000000        Phone  21046.679688

                      coverage_hash       ym
0  8929389deeeb0611096b6e99cc59462e  2024-01
1  29228477efa77b80adf72d52898ed504  2024-01
2  585fbb6778feb0b34d9d9968379153d5  2024-01
3  1b416383d03705a1255fb69d8dcaf0a7  2024-01
4  3141e1691fb5a9f68ef7973be2d27201  2024-01

Newest Row Per month
              offer_id  customer_id product_code product_variant  \
0   O-2024-0003966-D01       100916          PET             Cat
1       O-2024-0006313       100387         AUTO            MTPL
2       O-2024-0006190       100857       TRAVEL          Europe
3       O-2024-0001311       100016       TRAVEL          Europe
4       O-2024-0003272       100608    LIABILITY        Personal
5       O-2024-0005180       100455         AUTO           CASCO
6       O-2024-0001496       100140         AUTO           CASCO
7       O-2024-0002357       100646    LIABILITY        Personal
8   O-2024-0005526-D01       100550          PET             Cat
9   O-2024-0002111-D01       100515    LIABILITY        Personal
10      O-2024-0002244       100293         HOME       HomeBasic
11  O-2024-0005287-D01       100344          PET             Cat
12      O-2025-0001763       100947         AUTO           CASCO
13      O-2025-0005409       100254         HOME       HomeBasic
14      O-2025-0003028       100258    LIABILITY        Personal
15  O-2025-0001616-D01       100677          PET             Cat
16      O-2025-0001444       100211         AUTO           CASCO
17  O-2025-0001597-D01       100638         AUTO           CASCO
18  O-2025-0004561-D01       100750         AUTO            MTPL

            offer_datetime  premium_offered sales_source   sum_insured  \
0  2024-01-31 21:09:24.377        55.180000        Phone  30958.470703
1  2024-02-29 22:09:52.000       554.940002          Web   1631.619995
2  2024-03-31 22:16:28.000        53.759998          Web  27938.179688
3  2024-04-30 23:41:41.000        64.309998          Web  45793.531250
4  2024-05-31 23:29:54.000        84.190002          Web  10808.299805
5  2024-06-30 23:53:13.000       989.650024        Phone  25581.710938
6  2024-07-31 22:47:17.000       129.089996        Agent   6886.169922
7  2024-08-31 23:05:50.000       259.630005        Agent  18735.880859
8  2024-09-30 20:27:18.007       169.630005        Phone  25162.669922
9  2024-10-31 19:53:18.687       135.289993        Agent  48898.250000
10 2024-11-30 23:34:16.000       864.969971          Web  40572.730469
11 2024-12-31 22:51:33.933        61.959999        Agent   7717.259766
12 2025-01-31 23:59:58.000       152.270004        Agent   7412.430176
13 2025-02-28 19:39:46.000       339.950012        Phone  42815.808594
14 2025-03-31 23:18:39.000       263.519989        Agent  27623.519531
15 2025-04-30 23:35:50.703        82.019997          Web  30162.390625
16 2025-05-31 22:58:43.000       327.070007        Agent  12475.799805
17 2025-06-30 13:44:28.067       297.820007        Phone  11996.179688
18 2025-07-21 21:32:18.570       200.279999        Agent  23602.820312

                       coverage_hash       ym
0   37e7518463366982da870465af7645b6  2024-01
1   b4e25830c53549ea9270f57c02580750  2024-02
2   448e91b4dfbe91761f762646c4e48e61  2024-03
3   30020e9710478683921d8cded21a99d3  2024-04
4   f2af2426e7976d9ea43ef3947171ada7  2024-05
5   2eda62a1648aa177b8a6299ef26dd678  2024-06
6   33a580617b986a6ec6436fec22e9a9ee  2024-07
7   2dec78163b10bfd8e8946d3ce0c284cb  2024-08
8   debc09a22c11b447c813dc25b929de7f  2024-09
9   fd4c622f1332ef29dbd78baf4c455963  2024-10
10  da8d9411f4e9dd1b80a82409a3824cbe  2024-11
11  039f1bfaaf2693f77d0fb0f4307b6fc6  2024-12
12  55bdbddf8816349e3271903b56ec02b9  2025-01
13  f87fe5684719a235230f04366a87e641  2025-02
14  b29ad5407ea30ed58436620d7834ab3d  2025-03
15  bf48a36b95d8fe95d1a0897819a6ea01  2025-04
16  d0f792b290f217253278afacdd8ee443  2025-05
17  559d5132a8724378eec03fde1448a733  2025-06
18  f40def480a3f144c4b1e626decc40dd1  2025-07